<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Manufactor = "Philipp Eger"?>
  <?define UpgradeGuid = "{5475bdbe-eb0c-49e7-bb71-4eca366f8591}"?>
  <Product
  Id="*"
  Name="Spectrum - Searchable PDF Creator"
  Language="1033"
  Version="0.9.0.0"
  Manufacturer="$(var.Manufactor)"
  UpgradeCode="$(var.UpgradeGuid)">
    <Package
    InstallerVersion="200"
    Compressed="yes"
    Description="Spectrum - Searchable PDF Creator"
    Manufacturer="$(var.Manufactor)" />
    <Media
    Id="1"
    Cabinet="media1.cab"
    EmbedCab="yes" />
    
    <Property Id="ARPHELPLINK" Value="http://dotexpert.net" />
    <Property Id="ARPCONTACT" Value="Philipp Eger" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/philipp-eger-dev/spectrum" />

    <Upgrade Id="$(var.UpgradeGuid)">
      <UpgradeVersion Minimum="1.0.0.0"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="0.1.0.0"
                      IncludeMinimum="yes"
                      Maximum="1.0.0.0"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
      <UpgradeVersion Minimum="1.0.0.0" Maximum="99.0.0.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="Spectrum">
          <Directory Id="INSTALLLOCATION" Name="Spectrum.UI">
            <Component Id="ProductComponent" Guid="{4A5619DF-5841-48EC-8D7C-D368718C6D1A}">
              <File Id="MainApplicationFile" Name="$(var.Spectrum.UI.TargetFileName)" Source="$(var.Spectrum.UI.TargetPath)" KeyPath="yes">
                <Shortcut Advertise="yes" Id="DesktopShortCut" Name="Spectrum - Searchable PDF Creator" Directory="DesktopFolder" WorkingDirectory="INSTALLLOCATION" Description="TesseractUI ausführen" Icon="Icon.exe">
                  <Icon Id="Icon.exe" SourceFile="$(var.Spectrum.UI.TargetPath)" />
                </Shortcut>
              </File>
            </Component>
            <Component Id="TextSharp" Guid="{777028E8-DA56-400E-9C51-844AE328E8BF}">
              <File Id="ITextSharp" Name="itextsharp.dll" Source="$(var.Spectrum.UI.TargetDir)itextsharp.dll" KeyPath="yes" />
            </Component>
            <Component Id="AgilityPack" Guid="{85B5FE79-93A1-4189-8074-12FE71F4E9FC}">
              <File Id="HtmlAgilityPack" Name="HtmlAgilityPack.dll" Source="$(var.Spectrum.UI.TargetDir)HtmlAgilityPack.dll" KeyPath="yes" />
            </Component>
            <Component Id="Tesseract" Guid="{168F12F0-3598-4331-92D4-C02A8277C297}">
              <File Id="Tesseract" Name="Tesseract.dll" Source="$(var.Spectrum.UI.TargetDir)Tesseract.dll" KeyPath="yes" />
            </Component>
            <Component Id="Spectrum.BusinessLogic" Guid="{A9EEBA6E-1110-471E-B124-A2B3EE024BEF}">
              <File Id="Spectrum.BusinessLogic" Name="Spectrum.BusinessLogic.dll" Source="$(var.Spectrum.UI.TargetDir)Spectrum.BusinessLogic.dll" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id="ProductFeature" Title="Spectrum - Searchable PDF Creator" Level="1">
      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="TextSharp" />
      <ComponentRef Id="AgilityPack" />
      <ComponentRef Id="Tesseract" />
      <ComponentRef Id="Spectrum.BusinessLogic" />
    </Feature>
    <CustomAction Id="PreventDowngrading"
                  Error="A previous version is already installed." />
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading"
              After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>
    
    <InstallUISequence>
      <Custom Action="PreventDowngrading"
              After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>

    <Icon Id="icon.ico" SourceFile="$(var.Spectrum.UI.ProjectDir)Icons/TesseractUI.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
    <WixVariable Id='WixUILicenseRtf' Overridable='yes' Value='$(var.Spectrum.UI.ProjectDir)\LicenseAgreement.rtf'/>
    
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>
</Wix>
